header {
    background-color:rgba(248, 255, 250, 0.671);
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 20 86 / 15%);
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
header img {
    height: 6vh;
    margin-left: 10px;
}
header h2{
    margin-left: 10px;
}
header a {
    margin-left: 90px;
    transition: 0.5s;
    font-weight: 500;
}
header a:hover{
    color: #27ae88;
}
header span {
    width: auto;
    padding: 0 6px;
    background-color: #27ae60;
    border-radius: 50px;
    color: #fff;
    margin-right: 4px;
    font-weight: 400;
}

header .toggle{
    display: none;
}

@media screen and (max-width: 768px) {
    header{
        padding: 0;
    }
    /* header img {
        margin-top: 30px;
    } */
    header .button-flex{
        display: none;
    }
    header .nav .flex {
        display: none;
    }
    header .toggle {
        display: block;
        margin-top: 10px;
    }
    header .small {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: #27ae60;
        padding: 20px;
    }
    header li a {
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;
    }
}